.small-menu{
    position: fixed;
  height: 100%;
  max-width: 100%;
  transition: 0.3s;
  z-index: 100;
  top: 0;
  overflow: hidden;
  background:linear-gradient(
    135deg
    , rgba(0, 0, 142, 0.8) 0%, rgba(1, 114, 128, 0.8) 100%);
    .small-menu-follow-section {
        color: white;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: rotate(-90deg) translateX(100px);
        transform-origin: top left;
        max-width: 300px;
        max-height: 50px;
        position: absolute;
        top: 80%;
        left: 0%;
        padding: 5px;
      }
      .close-button{
        text-align: end;
    margin-top: 5%;
    i{
        color: white;
    font-size: 20px;
    }
    }
    .small-menu-content {
        width: 100%;
        height: 100%;
        ul {
            list-style: none;
            padding: none;
            width: 50%;
            height: 50%;
            align-self: center;
            width: 300px;
            margin: 0 auto;
            li {
                font-family: "Lato";
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                a {
                    text-decoration: none;
                    color: white;
                  }
              }
              i{
                  color: white;
              }
          }
      }
}