.posts-sidebar {
    .quick-menu-categories {
      .categories-header {
        .header-content {
          color: #19456b;
          font-weight: 800;
          padding: 10px 30px;
          box-shadow: 0px 2px 15px rgba(0, 0, 142, 0.100262);
        }
        .header-image-categories {
          background: #00008e;
          padding: 15px 25px;
          color: white;
        }
      }
      .categories-content {
        div {
          p:nth-child(2) {
            color: #a3a3a3;
          }
        }
      }
    }
    .quick-menu-posts {
      .posts-header {
        .posts-content {
          color: #19456b;
          font-weight: 800;
          padding: 10px 30px;
          box-shadow: 0px 2px 15px rgba(0, 0, 142, 0.100262);
        }
        .header-image-description {
          background: #017280;
          padding: 15px 25px;
          color: white;
        }
      }
      .posts-content {
        div {
            .posts-picture{
                img{
                    object-fit: cover;
                    height: 80%;
                }
            }
          .posts-content-description {
            p:nth-child(1) {
              color: #19456b;
              font-weight: 600;
              margin: 0;
            }
            p:nth-child(2)::before {
              font-family: "Font Awesome 5 Free";
              content: "\f133";
              font-weight: 400;
              color: #00008e;
              padding-right: 5px;
            }
          }
        }
      }
    }
    .quick-menu-arhives {
      .arhives-header {
        .header-content {
          color: #19456b;
          font-weight: 800;
          padding: 10px 30px;
          box-shadow: 0px 2px 15px rgba(0, 0, 142, 0.100262);
        }
        .header-image-description {
          background: #00008e;
          padding: 15px 25px;
          color: white;
        }
      }
      .arhives-content {
        nav {
          ul {
            list-style: none;
            li::before {
              font-family: "Font Awesome 5 Free";
              content: "\f0da";
              font-weight: bold;
              color: #00008e;
              padding-right: 5px;
            }
            li {
              color: #19456b;
              font-weight: 800;
            }
          }
        }
      }
    }
    .quick-menu-comments {
      .comments-header {
        .header-content {
          color: #19456b;
          font-weight: 800;
          padding: 10px 30px;
          box-shadow: 0px 2px 15px rgba(0, 0, 142, 0.100262);
        }
        .header-image-description {
          background: #017280;
          padding: 15px 25px;
          color: white;
        }
      }
      .arhives-content {
        nav {
          ul {
            list-style: none;
            li::before {
              font-family: "Font Awesome 5 Free";
              content: "\f27a";
              font-weight: 400;
              color: #00008e;
              
              padding-right: 5px;
            }
            li {
              color: #19456b;
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }